@import "../style/fonts";

$body-color: gray;
$b-color: white;
$font-title: 'Gotham Pro', GothamPro, Arial, sans-serif;
$font-text: 'Gotham Pro', GothamPro, Arial, sans-serif;

body {
  background: blue;
  color: $body-color;
  .title {
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $font-title;
    font-weight: bold;
    font-style: normal;
    color: $b-color;
    font-size: 40px;
  }

  .text {
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $font-text;
    font-weight: bold;
    font-style: italic;
    color: $b-color;
    font-size: 20px;
  }

  .img {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
}

