@import "../fonts/fonts";

$body-color: gray;
$b-color: white;
$font-title: 'Gotham Pro', sans-serif;

body {
  background: blue;
  color: $body-color;
  font-family: $font-title;

  button {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-title;
    width: 50px;
    height: 30px;
    color: $b-color;
    background-color: midnightblue;
    border: 0;
  }
  button:hover{
    color: $body-color;
    background-color: mediumblue;
  }
  .title {
    background-color: midnightblue;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-style: normal;
    color: $b-color;
    font-size: 40px;
    text-transform: uppercase;
  }

  .text {
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-style: italic;
    color: $b-color;
    font-size: 20px;
  }

  .img {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  .footer-text {
    padding: 40px;
    margin-top: 10px;

    background-color: midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

